
# Игнорировать виртуальные окружения
venv/
env/
.venv/
.env/

# Кэш Python
__pycache__/
*.py[cod]
*.pyo

# Логи и временные файлы
*.log
*.tmp

# Конфигурации IDE/редакторов
.vscode/
.idea/
*.swp

# Бинарники, данные, результаты
*.db
*.sqlite3
*.bak
.DS_Store

# Файлы pip
pip-log.txt

# Секреты (если вдруг попадут)
*.env
.env.*

